@import url(https://fonts.googleapis.com/css?family=Titillium+Web);@charset "UTF-8";
/* sass variables*/
/* sass mixins.*/
@font-face {
  font-family: "fontello";
  src: url(/fonts/fontello.eot);
  src: url(/fonts/fontello.eot#iefix) format("embedded-opentype"), url(/fonts/fontello.woff2) format("woff2"), url(/fonts/fontello.woff) format("woff"), url(/fonts/fontello.ttf) format("truetype"), url(/fonts/fontello.svg#fontello) format("svg");
  font-weight: normal;
  font-style: normal; }

/**
  * position: before | after | both
 */
/* typography */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-location:before {
  content: '\E800'; }

/* '' */
.icon-phone:before {
  content: '\E801'; }

/* '' */
.icon-mail:before {
  content: '\E802'; }

/* '' */
.icon-gplus:before {
  content: '\F05A'; }

/* '' */
.icon-facebook:before {
  content: '\F09A'; }

/* '' */
.icon-linkedin:before {
  content: '\F0E1'; }

/* '' */
.icon-dribbble:before {
  content: '\F17D'; }

/* '' */
.icon-pinterest:before {
  content: '\F231'; }

/* '' */
.icon-twitter:before {
  content: '\F309'; }

/* '' */
.font-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* base styles */
:root {
  font-size: #959393; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-width: 240px;
  color: #000000;
  height: 100vh;
  font-size: 1.67vw;
  line-height: 1.5; }

a,
button:hover {
  cursor: pointer; }

ul {
  list-style: none; }

.container {
  max-width: 1137px;
  margin: 0 auto;
  width: 100%; }

/*------*/
body {
  color: #959393;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.6;
  background: #ffffff;
  font-size: .875rem;
  overflow-x: hidden; }
  @media (max-width: 768px) {
    body {
      font-size: 1.125rem; } }

img {
  max-width: 100%; }

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em; }

h1 {
  color: #000000;
  line-height: 1;
  font-size: 3.125rem; }
  @media (max-width: 768px) {
    h1 {
      font-size: 4.25rem; } }

/* grids styles.*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto; }

.header {
  grid-column: span 12; }

main {
  grid-column: span 12; }

footer {
  grid-column: span 12; }

/* header block */
.header {
  position: relative;
  padding: 0 0 4.375em;
  background-image: url("/assets/images/h-bg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 576px) {
    .header {
      padding: 0; } }
  .header .container {
    padding: 3.500em .313em;
    display: grid;
    grid-template-rows: 3.625em; }
    @media (max-width: 576px) {
      .header .container {
        padding: 0;
        text-align: center; } }
    .header .container .logo {
      display: inline-block;
      grid-area: logo;
      padding: 1.250em 0;
      grid-column: 1/span 3;
      grid-row: 1; }
      @media (max-width: 768px) {
        .header .container .logo {
          grid-column: 1/span 12;
          grid-row: 3;
          text-align: center; } }
      .header .container .logo .logo_link {
        font-size: 1.875em;
        line-height: 0.875em;
        color: #858688;
        text-decoration: none;
        outline: none;
        font-weight: bold; }
        .header .container .logo .logo_link .logo__link--color {
          color: #5b4295; }
    .header .container .content {
      padding: 8.125em 0 9.063em;
      text-align: center;
      grid-column: 1/ span 12;
      grid-row: 3; }
      @media (max-width: 768px) {
        .header .container .content {
          grid-column: 1/span 12;
          grid-row: 4;
          padding-bottom: 0; } }
      .header .container .content .content__title {
        font-size: 3.750em;
        letter-spacing: 0.02em; }
        @media (max-width: 576px) {
          .header .container .content .content__title {
            font-size: 2.5em; } }
      .header .container .content .content__text {
        font-size: 2.250em;
        line-height: 1.500em;
        display: block; }
        .header .container .content .content__text span {
          color: #fc2028; }
      .header .container .content button[type="button"] {
        margin-top: 5.000em;
        color: white;
        font-size: 1em;
        line-height: 3.500em;
        border-radius: 1.563em;
        background: linear-gradient(to right, #646a93 0%, #5f2f6a 100%);
        border-width: 0.063em;
        border-style: solid;
        background-position: center;
        border-color: transparent;
        border-image: initial;
        outline: none;
        white-space: nowrap; }
        @media (max-width: 576px) {
          .header .container .content button[type="button"]:nth-of-type(1) {
            margin: 0 1.250em; } }
        .header .container .content button[type="button"]:nth-of-type(2) {
          margin: 0 0.313em; }
        .header .container .content button[type="button"].small {
          padding: 0 1.063em;
          border-radius: 100%; }
      .header .container .content .сreateacc {
        padding: 0 4.688em; }
    .header .container .topmenu {
      display: inline-block;
      text-align: right;
      grid-area: menu;
      grid-column: 3/span 6;
      grid-row: 1; }
      @media (max-width: 768px) {
        .header .container .topmenu {
          grid-column: 1/span 12;
          grid-row: 4;
          text-align: center; } }
    .header .container .topmenu li {
      display: inline-block; }
    .header .container .topmenu li a {
      font-size: 1.3em;
      line-height: 3em;
      color: #454545;
      text-decoration: none;
      outline: none;
      padding: 0 0.2em; }
      .header .container .topmenu li a:hover {
        text-decoration: underline; }
    .header .container .login {
      display: inline-block;
      grid-area: login;
      grid-column: 10/span 4;
      grid-row: 1;
      text-align: right;
      white-space: nowrap; }
      @media (max-width: 768px) {
        .header .container .login {
          grid-column: 1/span 12;
          grid-row: 1; } }
    .header .container .login a {
      font-size: 1.3em;
      line-height: 3.500em;
      color: #454545;
      text-decoration: none;
      outline: none;
      font-weight: bold;
      padding: 0.625em 1.563em;
      border-radius: 1.563em;
      white-space: nowrap; }
    .header .container .login .login_log {
      margin-left: 1.250em;
      margin-right: 0.625em; }
    .header .container .login .active {
      color: #ffffff;
      background: linear-gradient(135deg, #582c7e 0%, #5c359d 23%, #6073c9 100%);
      box-shadow: 0 0.188em 0.313em 0.188em #7282ba; }
    .header .container .lang {
      grid-area: lang;
      grid-column: 1/span 3;
      grid-row: 2; }
      @media (max-width: 768px) {
        .header .container .lang {
          grid-column: 1/span 12;
          grid-row: 2; } }
    .header .container .lang li {
      font-size: 0.750em;
      display: inline-block; }
    .header .container .lang li:not(:first-child):before {
      content: '/';
      padding: 0 0.313em;
      display: inline-block; }
    .header .container .lang__link {
      color: #959595;
      font-size: 1.2em;
      text-decoration: none;
      outline: none;
      -moz-outline: none;
      -webkit-outline: none; }
    .header .container .active {
      font-weight: bold; }
    .header .container .lang__link:hover {
      border-bottom: 0.063em solid #454545; }
  .header .social {
    position: absolute;
    width: 2.063em;
    height: 5.875em;
    right: .5em;
    top: 20.188em; }
    .header .social .social__link {
      border: none;
      font-size: 1.4em;
      padding: 10px; }

/*  main block */
main .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.maincontent {
  position: relative;
  font-size: 0px;
  text-align: center; }
  .maincontent img {
    float: left; }
  .maincontent .item {
    display: inline-block;
    height: 200px;
    padding: 0 20px;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
    border-right: 1px solid #b7b7b7; }
    @media (max-width: 576px) {
      .maincontent .item {
        grid-column: 1/span 3;
        border-right: none; } }
    .maincontent .item:nth-child(2) {
      position: relative; }
      .maincontent .item:nth-child(2)::before {
        content: '';
        position: absolute;
        display: table;
        border-left: 1px solid #b7b7b7;
        width: 1px;
        height: 125px;
        top: -125px;
        left: -1px; }

.valuesitemheader {
  height: 70px; }

.item__heading {
  font-size: 26px;
  line-height: 40px;
  color: #555555; }

.item__text {
  font-size: 18px;
  line-height: 22px;
  color: #959393; }

.item__body {
  padding-top: 20px; }

.item--borderright {
  border-right: 1px solid #b9b9b9; }

.item__span2 {
  padding-top: 30%;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-right: 65px;
  border-right: 1px solid #b9b9b9;
  text-align: right;
  grid-column: 1 / span 2; }
  @media (max-width: 576px) {
    .item__span2 {
      grid-column: 1 / span 3;
      border-right: none;
      padding: 0;
      text-align: center; } }

.valuestext__heading {
  margin-bottom: 20px;
  font-size: 60px;
  color: #535353; }

.valuestext__content {
  padding-left: 30%;
  font-size: 22px; }
  .valuestext__content span {
    color: #fc2028; }

.item-button {
  grid-column: 2/span 2; }
  @media (max-width: 576px) {
    .item-button {
      grid-column: 1/span 3;
      text-align: center; } }

.item-button::before {
  content: "";
  position: absolute;
  top: 98.1%;
  left: 0;
  width: 54.7%;
  height: 1px;
  background-color: #b9b9b9;
  z-index: -1; }
  @media (max-width: 576px) {
    .item-button::before {
      display: none; } }

.item-button a {
  padding: 15px 30px;
  border: 1px solid #b9b9b9;
  border-radius: 30px;
  font-size: 16px;
  color: #676766;
  text-decoration: none;
  outline: none;
  background-color: #ffffff;
  white-space: nowrap; }

.companies {
  max-width: 1137px;
  margin: 0 auto;
  width: 100%;
  max-width: 1137px;
  white-space: nowrap;
  overflow-x: hidden; }
  .companies .companies__content {
    padding: 20px 0; }

.testimonials {
  background: linear-gradient(to right bottom, #ffffff 40%, #f6f6f6 60%);
  position: relative; }
  .testimonials .container {
    display: grid;
    grid-template-columns: 0 1fr 0; }
    .testimonials .container .dots ul {
      display: block;
      float: right;
      margin-top: 3.1vw;
      margin-right: 1.1vw;
      list-style-type: none;
      padding: 0;
      text-align: center; }
      .testimonials .container .dots ul [class^="dots_point"]::after {
        background-color: #b7b7b7;
        content: '';
        display: block;
        height: .5em;
        width: .5em;
        margin: .2em;
        cursor: pointer; }
      .testimonials .container .dots ul [class^="dots_point--active"]::after {
        background-color: #000; }
    .testimonials .container .quote {
      color: #101010;
      font-family: 'OTCE Malaga';
      padding-top: 1.55vw;
      grid-column-start: 2; }
    .testimonials .container .proposition {
      position: relative;
      grid-column: 2/span 3;
      text-align: center;
      font-family: "Titillium Web"; }
      .testimonials .container .proposition p {
        font-size: 1rem;
        line-height: 1.35; }
      .testimonials .container .proposition .buttons {
        display: flex;
        justify-content: center; }
        .testimonials .container .proposition .buttons .btn {
          margin: 0 5px; }
      .testimonials .container .proposition .notebook {
        position: absolute;
        bottom: -90%;
        right: -13%; }
        @media (max-width: 992px) {
          .testimonials .container .proposition .notebook {
            display: none; } }

.privacy {
  text-align: center; }
  .privacy h3 {
    font-weight: 400;
    font-size: 1.22rem;
    color: #535353;
    margin-top: 3.05vw;
    margin-bottom: 0; }
  .privacy .buttons {
    display: flex;
    justify-content: center; }
    .privacy .buttons .btn {
      background-image: linear-gradient(90deg, #646c92, #5f2e69);
      border-width: 0;
      border-radius: 50px;
      margin-left: 0;
      margin-right: 2.88vw;
      box-shadow: 0 5px 15px #6276cd;
      transition: box-shadow 0.5s; }
      .privacy .buttons .btn:not(:first-child) {
        background-image: linear-gradient(90deg, #35bbe0, #5e7bea); }
      .privacy .buttons .btn a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 10px 20px 10px 15px; }

/* footer block */
.footer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 2.77vw 4.44vw 0.70fr 1fr 0.6fr;
  margin-top: 4.55vw; }
  @media (max-width: 576px) {
    .footer {
      text-align: center; } }
  .footer .sponsors {
    grid-area: 1 / 3 / 4 / 8;
    padding-right: 1.5vw;
    border-right: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9; }
    @media (max-width: 576px) {
      .footer .sponsors {
        display: none; } }
    .footer .sponsors h4 {
      font-family: "Titillium Web";
      font-size: 0.47rem;
      font-weight: 400;
      color: #7a7a7a;
      text-align: right;
      margin-bottom: 1px;
      margin-top: 1vw; }
  .footer .contacts {
    grid-area: 4 / 2 / 4 / 4;
    padding-top: 2%; }
    @media (max-width: 576px) {
      .footer .contacts {
        grid-area: auto;
        grid-column: 1/span 9;
        text-align: center; } }
    .footer .contacts p {
      font-family: "Titillium Web";
      font-size: 10px;
      color: #5c5c5c;
      margin-bottom: 0; }
    .footer .contacts p:nth-child(4) {
      margin-top: 15px; }
    .footer .contacts a {
      text-decoration: none;
      font-weight: 600;
      color: #5c5c5c; }
    .footer .contacts .bporder-left {
      border-left: 1px solid #b9b9b9;
      padding-left: 10px;
      box-sizing: content-box; }
  .footer .footer-menu {
    font-family: "Titillium Web";
    direction: rtl;
    font-size: 12px; }
    .footer .footer-menu h4 {
      direction: rtl;
      font-size: 14px;
      margin: 20px 25px 0 0;
      color: #5c5c5c; }
    .footer .footer-menu a {
      text-decoration: none;
      color: #5c5c5c; }
    .footer .footer-menu ul {
      line-height: 1.55;
      margin-top: 27px;
      list-style: disc; }
      .footer .footer-menu ul li {
        color: #5c5c5c; }
        @media (max-width: 576px) {
          .footer .footer-menu ul li {
            list-style: none; } }
    .footer .footer-menu.legal-menu {
      grid-area: 4 / 6 / 4 / 6; }
      @media (max-width: 576px) {
        .footer .footer-menu.legal-menu {
          grid-area: 4 / 6 / 4 /10;
          text-align: left; } }
    .footer .footer-menu.neutronmail-menu {
      grid-area: 4 / 7 / 4 / 7;
      border-right: 1px solid #b9b9b9;
      padding-right: 10px; }
      @media (max-width: 576px) {
        .footer .footer-menu.neutronmail-menu {
          grid-area: 5 / 1 / 6 /10;
          text-align: center; } }
      .footer .footer-menu.neutronmail-menu ul {
        padding-right: 18px; }
    .footer .footer-menu.social-networks-menu {
      grid-area: 5 / 2 / 5 / 8;
      direction: ltr;
      font-size: 12px;
      align-self: end; }
      @media (max-width: 576px) {
        .footer .footer-menu.social-networks-menu {
          grid-area: 7 / 1 / auto / 10; } }
      .footer .footer-menu.social-networks-menu li {
        list-style: none;
        display: inline; }
        .footer .footer-menu.social-networks-menu li:not(:last-child):after {
          content: '/';
          display: inline;
          margin-left: 2px; }
    .footer .footer-menu.company-menu {
      grid-area: 4 / 5 / 6 / 5;
      padding-right: 27%; }
      @media (max-width: 576px) {
        .footer .footer-menu.company-menu {
          grid-area: 4 / 1 / 4 /5; } }
  .footer .copy {
    grid-area: 6 / 2 /6 / 8;
    font-size: 12px; }
    @media (max-width: 576px) {
      .footer .copy {
        grid-area: 6 / 1 /6 / 10; } }
  .footer .border-right {
    border-right: 1px solid #b9b9b9; }
